.app {
    font-family: 'Kanit', sans-serif;
    .pokemon-table {
        img {
            max-height: 30px;
        }
        th {
            text-align: left;
            cursor: pointer;
        }    
        .hidden {
            visibility: hidden;
        }
    } 
}
